## INSTALL ##
dist: xe # required for Python >= 3.7
language: python
# python version(s)
python:
  - "3.7"
# commands to install dependencies through pip
cache: pip
install:
# needs a file called requirements.txt in the repo with the name of the dependencies to install
  - pip install -r requirements.txt

## SCRIPT ##
# command to run tests
script:
  - py.test

## HEADOUT ##
#notifications:
#  email:
#    recipients:
#      - guerin.claire01@gmail.com
#    on_success: never # default: change
#    on_failure: always # default: always

